.send-content {
  margin: auto;
  padding: 0;
  width: 100%;
}

.send-button {
  margin-left: 0;
  width: 100%;
  margin-top: 24px;
}

.contact form {
  width: 95%;
}

.contact label {
  margin-top: 24px;
}

@media all and (min-width:590px) {
  .send-content {
    margin: 0;
    padding: 0;
  }

  .send-button {
    margin-left: 0;
    margin-top: 24px;
  }

  .contact form {
    width: 50%;
  }
}