.home-header a {
  border: 1px solid black;
  padding: 6px;
  margin: 0 6px;
  text-decoration: none;
  color: black;
}

.home-links {
  font-size: 18px;
  display: block;
  background-color: #6F9F6D;
  border-radius: 10px;
}

.group-kids {
  margin: 24px auto;
  width: 100%;
}

.features {
  padding-top: 80px;
  padding-bottom: 80px;
}

.feature-img {
  width: 100px;
  height: 150px;
  padding: 24px 0;
}

@media all and (min-width:340px) {
  .home-links {
    display: inline;
  }

  .group-kids {
    height: 50%;
  }
}