.home-header a {
  border: 1px solid black;
  padding: 6px;
  margin: 0 6px;
  text-decoration: none;
  color: black;
}

.home-links {
  font-size: 18px;
  display: block;
  background-color: #6F9F6D;
  border-radius: 10px;
}

.group-kids {
  margin: 24px auto;
  width: 100%;
}

.features {
  padding-top: 12px;
  padding-bottom: 80px;
}

.feature-img {
  width: 100px;
  height: 100px;
  padding: 24px 0;
}

.group {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 80px 0;
}

.item {
  width: 90%;
  padding: 0 3%;
}

@media all and (min-width:340px) {
  .home-links {
    display: inline;
  }
}

@media all and (min-width:540px) {
  .group {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }

  .item {
    align-content: flex-start;
    justify-content: center;
    width: 30%;
  }

  .group-kids {
    height: 50%;
  }

  .features {
    padding-top: 80px;
  }
}