nav img {
  width: 36px;
  height: 36px;
  margin: 6px 0 6px 12px;
}

ul {
  list-style: none;
}

.open-button {
  padding: 0;
  font-size: 36px;
  margin: 12px 0 0 0;
}

.navbar-nav {
  display: none;
}

.show {
  display: block;
}

#top-navbar {
  background-color: #DF928E;
  padding: 0;
}

.nav-link {
  color: #1D201F;
  font-weight: 700;
  font-size: 1.5rem;
}

#top-navbar a {
  font-size: 18px;
}

@media all and (min-width:635px) {
  #top-navbar a {
    font-size: 24px;
  }
}

@media all and (min-width:509px) {
  .navbar-nav {
    display: flex;
  }

  .open-button {
    display: none;
  }
}