.social a {
  display: block;
  margin: 0 24px;
  text-decoration: none;
  color: #E18F80;
}


.attribute{
  color: #E18F80;
  text-align: center;
}

.social {
  text-align: center;
}

@media all and (min-width:378px) {
  .social a {
    display: inline;
  }
}