footer {
  text-align: center;
}

.social {
  display: block;
  margin: 0 24px;
  text-decoration: none;
  color: #E18F80;
}

.social:hover {
  color: #F4E285;
}

.attribute {
  text-align: center;
  margin: 0;
}

.social {
  text-align: center;
}

@media all and (min-width:378px) {
  .social {
    display: inline;
  }
}